﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transforma - Create a Living City</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    @*<link rel="shortcut icon" href="/favicon.ico">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,300" rel="stylesheet" type="text/css">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBP2yFEkf0EkXifjIiGXOXu_usSF4AnzkY"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<header class="header">
    <nav class="navbar user-menu">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand" href="/">
                            <img src="~/images/logo2.png">
                        </a>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Map", "Map", "Home")
                    </li>
                    <li>
                        <a data-canvas="body" href="javascript:changeMenu('character');">
                            <span href="" class="make-compact" id="remove-compact">
                                Character
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-canvas="body" href="javascript:changeMenu('inventory');">
                            <span href="" class="make-compact" id="remove-compact">
                                Inventory
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-canvas="body" href="javascript:changeMenu('assets');">
                            <span href="" class="make-compact" id="remove-compact">
                                Assets
                            </span>
                        </a>
                    </li>
                </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
</header>

<div class="mask"></div>

@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
<script type="text/javascript" src="~/Scripts/main.js"></script>

<nav id="character" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <section class="box bg-white shadow border-top">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 border-blue-light">
                        <h3 class="m-t-30">Options</h3>
                        <div class="checkbox">
                            <label class="check-box-label">
                                <input type="checkbox" name="" id="gps"> Enable GPS
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <h3 class="m-t-30">My Character</h3>
                        <div class="box box--theme-4">
                            <div class="col-sm-12">
                                <label for="">Name</label>
                            </div>
                            <div class="form-group col-sm-12">
                                @User.Identity.GetUserName().Split('@')[0]
                            </div>
                            <div class="col-sm-12">
                                <label for="">Money</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="money"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Transport Mode</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="transport"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Health</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="health"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Education</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="education"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Strength</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="strength"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Charisma</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="charisma"></span>
                            </div>
                            <div class="col-sm-12">
                                <label for="">Luck</label>
                            </div>
                            <div class="form-group col-sm-12">
                                <span id="luck"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>

<nav id="inventory" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <section class="box bg-white shadow border-top">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="m-t-30">Inventory</h3>
                        <div class="box box--theme-4">
                            <div class="col-sm-12">
                                <label for="">Empty</label>
                            </div>
                            <div class="form-group col-sm-12">
                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>

<nav id="assets" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <section class="box bg-white shadow border-top">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="m-t-30">Assets</h3>
                        <div class="box box--theme-4">
                            <div class="col-sm-12">
                                <label for="">Empty</label>
                            </div>
                            <div class="form-group col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>

    <div class="modal fade" id="confirmBuyHouse">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Purchase House</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to buy a property at the current location?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="confirmBuyHome()">Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</body>
</html>