html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#googleMap { height: 100% }
#googleMapControls { position: absolute; bottom: 20px; right: 20px; z-index: 99; }
body {
    font-size: 14px;
    overflow-x: hidden;
    background: #F3F3F3;
    color: #6b6b6b;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

p {
    color: #53565a;
}

a,
a:hover {
    text-decoration: none;
}
label {
	  font-family: Montserrat, sans-serif;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

.bg-white {
    background: #fff;
}

.border {
    border: 1px solid #dbdbdb;
}

.shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.border-top {
    border-top: 7px solid #6dcdaf;
    border-radius: 0 0 3px 3px!important;
}
$samll-image:50px;
.circle--small-image {
	width:$samll-image;
	height:$samll-image;
	border-radius:50%;
	overflow:hidden;
	border:1px solid #ccc;
}

.payment-method-details {
    display: none;
}
.relative {
	position: relative;
}
.float-none {
	float:none !important;
}
[data-toggle="modal"] {
	cursor: pointer;
}
.about-text {
	display:block;
	@include mobile {
        display: none;
    }
}
.number--mid {
    font-size: 23px;
}
.number-sat {
    padding-top:6px;
    text-align: center;
}