// create box-sizing  classes
$units: 0 5 10 15 20 25 30 35 40 45 50 55 60 70;
@each $unit in $units {
    .margin-#{$unit} {
        margin:#{$unit}px !important;
    }
    .margin-top-#{$unit} {
        margin-top:#{$unit}px !important;
    }
    .margin-bottom-#{$unit} {
        margin-bottom:#{$unit}px !important;
    }
    .margin-right-#{$unit} {
        margin-right:#{$unit}px !important;
    }
    .margin-left-#{$unit} {
        margin-left:#{$unit}px !important;
    }
    .padding-#{$unit} {
        padding:#{$unit}px !important;
    }
    .padding-top-#{$unit} {
        padding-top:#{$unit}px !important;
    }
    .padding-bottom-#{$unit} {
        padding-bottom:#{$unit}px !important;
    }
    .padding-right-#{$unit} {
        padding-right:#{$unit}px !important;
    }
    .padding-left-#{$unit} {
        padding-left:#{$unit}px !important;
    }
    .padding-top-#{$unit} {
        padding-top:#{$unit}px !important;
    }
    .padding-bottom-#{$unit} {
        padding-bottom:#{$unit}px !important;
    }
    .padding-right-#{$unit} {
        padding-right:#{$unit}px !important;
    }
    .padding-left-#{$unit} {
        padding-left:#{$unit}px !important;
    }
}
