$colors: ( "main-color":#fdc700, "sub-color": #44c2e2, "white":#FFFFFF, "black":#000000, "offwhite":#f4f6f7,"orange":#F68D2E, "red": #d14124, "green":#6cc24a, "blue":#0770a6, "blue-light":#00c0f3, "gray":#B0B2B4, "default":#a7a8a9);
@each $name,
$value in $colors {
    .text-#{$name},
    .text-#{$name} p {
        color: $value !important;
    }
    .border-#{$name} {
        border-color: $value !important;
    }
    
    .bg-#{$name} {
        background-color: $value !important;
    }
}
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large: 1600px;
@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin pcsamll {
    @media (max-width: #{$desktop-large}) {
        @content;
    }
}
// use
// p {
//     font-size: 16px;
//     @include tablet {
//         font-size: 18px;
//     }
// }
