﻿<div class="slider">
    <div class="fadeImg">
        <img src="~/images/Banner_01.jpg">
    </div>
    <div class="slider__content">
        <div class="col-md-12 hidden-xs hidden-sm hero-title">
            <img src="~/images/logo2.png">
            <h1> Online Simulation Game</h1>
            <h1> Build your Empire and Rule</h1>
        </div>
        <div class="col-md-12 margin-top-20">
            <a href="~/Account/Login" class="btn btn-blue btn-100">Login</a>
            <a href="~/Account/Register" class="btn btn-blue-light btn-100">Create a New Account</a>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="margin-40">Features </h2>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-1.png">
                        <h4>Buy Real Estate</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-2.png">
                        <h4>Pay or Collect Rent</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-3.png">
                        <h4>Buy Assets</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-4.png">
                        <h4>Increase your Lifespan</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-5.png">
                        <h4>Help People</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-6.png">
                        <h4>Stay Educated</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-7.png">
                        <h4>Explore your Environment</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-icon">
                <div class="box-icon__content">
                    <a href="#">
                        <img src="~/images/icon-8.png">
                        <h4>Start a Family</h4>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<section class="parallax parallax--sign">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12 hidden-xs hidden-sm hero-title">
                <img src="~/images/logo2.png">
            </div>
            <h1 class="text-white">Don’t miss out, Sign up and build an empire</h1>

            <a href="~/Account/Login" class="btn btn-blue btn-100">Login</a>
            <a href="~/Account/Register" class="btn btn-blue-light btn-100">Create a New Account</a>
        </div>
    </div>
</section>