﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Map";
}

<div id="googleMap"></div>
<div id="googleMapControls">
    <a href="#" class="btn btn-green btn-100" id="buyHome">
        <i class="fa fa-home"></i> BUY
    </a>
</div>

@section scripts
{
    <script type="text/javascript">
        var map = null;
        var mapProp = null;
        var watchId = null;

        var busStops = [];
        var busStopMarkers = [];
        var propertiesByLocation = [];
        var propertiesMarkers = [];

        var controlMarkers = {
            up: null,
            down: null,
            left: null,
            right: null
        };

        var myMarker = null;

        $(function () {
            getCharacter('@User.Identity.GetUserId()');
            archiveLastPosition();
            initializeMap();
            bindToEvents();
        });

        function bindToEvents() {
            $(document).bind(myEvents.gpsToggled, function () { checkGPS(); });
            $(document).bind(myEvents.characterUpdated, function () { monitorNewPosition(); });
        }

        function checkGPS() {
            console.log(character.GpsEnabled, "GPS STatus");
            if (character.GpsEnabled) {
                $.geolocation.get({ win: changeCurrentPosition });
                watchId = $.geolocation.watch({ win: changeCurrentPosition });
            } else {
                if (watchId)
                    $.geolocation.clearWatch(watchID);
                setMyMarker();
            }
        }

        function changeCurrentPosition(position) {
            console.log(previousLocation);
            console.log(position);
            character.Lat = position.coords.latitude;
            character.Lng = position.coords.longitude;
            setMyMarker();
            monitorNewPosition();
        }

        function initializeMap() {
            var defaultCenter = new google.maps.LatLng(character.Lat, character.Lng);
            mapProp = {
                center: defaultCenter,
                zoom: 17,
                heading: 0,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: !debug,
                scrollwheel: debug,
                navigationControl: debug,
                mapTypeControl: debug,
                scaleControl: debug,
                draggable: debug,
                disableDoubleClickZoom: debug,
                styles: [
                    {
                        featureType: "transit.station.bus",
                        stylers: [
                            { visibility: "off" }
                        ]
                    }
                ]
            };

            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            google.maps.event.trigger(map, 'resize');

            // dont allow zooming 
            map.addListener('zoom_changed',
                function() {
                    // 3 seconds after the zoom of the map has changed, zoom back to the
                    window.setTimeout(function() {
                            map.setZoom(17);
                        },
                        3000);
                });

            // set my markers and controls
            setMyMarker();

            // resize at least once
            resizeMap();
            $(window)
                .resize(function() {
                    resizeMap();
                });

            getBusStops();
        }

        function setMyMarker() {
            var pos = new google.maps.LatLng(character.Lat, character.Lng);
            if (myMarker === null) {
                myMarker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    icon: {
                        path: fontawesome.markers.USER,
                        scale: 0.5,
                        strokeWeight: 0.2,
                        strokeColor: 'black',
                        strokeOpacity: 1,
                        fillColor: colours.character,
                        fillOpacity: 0.7
                    }
                });

                myMarker.addListener('click',
                    function() {
                        $("#character").offcanvas('toggle');
                    });
            } else {
                myMarker.setPosition(pos);
            }

            map.panTo(pos);

            setMyControls();
        }

        function setMyControls() {
            if (character.GpsEnabled) {
                if (controlMarkers.up) {
                    controlMarkers.up.setMap(null);
                    controlMarkers.up = null;
                }
                if (controlMarkers.down) {
                    controlMarkers.down.setMap(null);
                    controlMarkers.down = null;
                }
                if (controlMarkers.left) {
                    controlMarkers.left.setMap(null);
                    controlMarkers.left = null;
                }
                if (controlMarkers.right) {
                    controlMarkers.right.setMap(null);
                    controlMarkers.right = null;
                }
                return;
            }

            var shiftedLocation = geolib.computeDestinationPoint({
                lat: character.Lat,
                lng: character.Lng
            }, 10, 240);
            var dir_up = geolib.computeDestinationPoint(shiftedLocation, 50, 0);
            var dir_down = geolib.computeDestinationPoint(shiftedLocation, 50, 180);
            var dir_left = geolib.computeDestinationPoint(shiftedLocation, 50, 270);
            var dir_right = geolib.computeDestinationPoint(shiftedLocation, 50, 90);

            if (controlMarkers.up === null) {
                controlMarkers.up = new google.maps.Marker({
                    position: new google.maps.LatLng(dir_up.latitude, dir_up.longitude),
                    map: map,
                    icon: {
                        path: fontawesome.markers.ARROW_CIRCLE_O_UP,
                        scale: controls.scale,
                        strokeWeight: 0.2,
                        strokeColor: 'black',
                        strokeOpacity: 1,
                        fillColor: colours.controls,
                        fillOpacity: 0.2
                    }
                });

                controlMarkers.up.addListener('click', function() { moveCharacter("UP") });
            } else {
                controlMarkers.up.setPosition(new google.maps.LatLng(dir_up.latitude, dir_up.longitude));
            }

            if (controlMarkers.down === null) {
                controlMarkers.down = new google.maps.Marker({
                    position: new google.maps.LatLng(dir_down.latitude, dir_down.longitude),
                    map: map,
                    icon: {
                        path: fontawesome.markers.ARROW_CIRCLE_O_DOWN,
                        scale: controls.scale,
                        strokeWeight: 0.2,
                        strokeColor: 'black',
                        strokeOpacity: 1,
                        fillColor: colours.controls,
                        fillOpacity: 0.2
                    }
                });

                controlMarkers.down.addListener('click', function() { moveCharacter("DOWN") });
            } else {
                controlMarkers.down.setPosition(new google.maps.LatLng(dir_down.latitude, dir_down.longitude));
            }

            if (controlMarkers.left === null) {
                controlMarkers.left = new google.maps.Marker({
                    position: new google.maps.LatLng(dir_left.latitude, dir_left.longitude),
                    map: map,
                    icon: {
                        path: fontawesome.markers.ARROW_CIRCLE_O_LEFT,
                        scale: controls.scale,
                        strokeWeight: 0.2,
                        strokeColor: 'black',
                        strokeOpacity: 1,
                        fillColor: colours.controls,
                        fillOpacity: 0.2
                    }
                });

                controlMarkers.left.addListener('click', function() { moveCharacter("LEFT") });
            } else {
                controlMarkers.left.setPosition(new google.maps.LatLng(dir_left.latitude, dir_left.longitude));
            }

            if (controlMarkers.right === null) {
                controlMarkers.right = new google.maps.Marker({
                    position: new google.maps.LatLng(dir_right.latitude, dir_right.longitude),
                    map: map,
                    icon: {
                        path: fontawesome.markers.ARROW_CIRCLE_O_RIGHT,
                        scale: controls.scale,
                        strokeWeight: 0.2,
                        strokeColor: 'black',
                        strokeOpacity: 1,
                        fillColor: colours.controls,
                        fillOpacity: 0.2
                    }
                });

                controlMarkers.right.addListener('click', function() { moveCharacter("RIGHT") });
            } else {
                controlMarkers.right.setPosition(new google.maps.LatLng(dir_right.latitude, dir_right.longitude));
            }

            actions.moving = false;
        }

        function resizeMap() {
            $("#googleMap").height($(window).height() - 82);
            map.setCenter(new google.maps.LatLng(character.Lat, character.Lng));
        }

        function moveCharacter(direction) {
            if (actions.moving) return;

            actions.moving = true;
            var newPosition = null;
            var currentPosition = {
                lat: character.Lat,
                lng: character.Lng
            };
            switch (direction) {
            case "UP":
                newPosition = geolib.computeDestinationPoint(currentPosition, 10, 0);
                break;
            case "DOWN":
                newPosition = geolib.computeDestinationPoint(currentPosition, 10, 180);
                break;
            case "LEFT":
                newPosition = geolib.computeDestinationPoint(currentPosition, 10, 270);
                break;
            case "RIGHT":
                newPosition = geolib.computeDestinationPoint(currentPosition, 10, 90);
                break;
            }

            character.Lat = newPosition.latitude;
            character.Lng = newPosition.longitude;
            setMyMarker();
            monitorNewPosition();
        }

        function monitorNewPosition() {
            if (previousLocation === null) {
                archiveLastPosition();
            }

            var dist = getDistance(previousLocation, character);
            console.log("DIST", dist);
            // if travelled more than 200m then refresh
            if (dist > 200) {
                archiveLastPosition();
                getBusStops();
                getPropertiesByLocation();
                makeSomeMoney();

                // security check every km
                securityCheck += 1;
            }

            if (securityCheck >= 5) {                
                securityCheck = 0;
                window.setTimeout(function () {
                    checkSecurity();
                    saveCharacter();
                },3000);
            }
        }

        function archiveLastPosition() {
            previousLocation = {
                Lat: character.Lat,
                Lng: character.Lng
            };
        }

        function getBusStops() {
            // Send an AJAX request
            $.getJSON("/api/BusStops/GetBusStopsByLocation",
                {
                    lat: character.Lat,
                    lng: character.Lng
                })
                .done(function(data) {
                    if (data) {
                        clearMarkerList(busStopMarkers);
                        busStops = data;
                        displayBusStopsMarkers();
                    }
                });
        }

        function getPropertiesByLocation() {
            // Send an AJAX request
            $.getJSON("/api/Properties/GetPropertiesByLocation",
                {
                    lat: character.Lat,
                    lng: character.Lng
                })
                .done(function (data) {
                    if (data) {
                        clearMarkerList(propertiesMarkers);
                        propertiesByLocation = data;
                        displayPropertiesMarkers();
                    }
                });
        }

        function displayBusStopsMarkers() {
            // On success, 'data' contains a list of products.
            $.each(busStops,
                function(key, item) {
                    // display bus stops that are within walking distance
                    var latLng = new google.maps.LatLng(item.Lat, item.Lng);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: {
                            path: fontawesome.markers.BUS,
                            scale: 0.3,
                            strokeWeight: 0.2,
                            strokeColor: 'black',
                            strokeOpacity: 1,
                            fillColor: colours.bus,
                            fillOpacity: 0.5
                        }
                    });
                    busStopMarkers.push(marker);

                });
        }

        function displayPropertiesMarkers() {
            // On success, 'data' contains a list of products.
            $.each(propertiesByLocation,
                function(key, item) {
                    // display bus stops that are within walking distance
                    var latLng = new google.maps.LatLng(item.Lat, item.Lng);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: {
                            path: fontawesome.markers.HOME,
                            scale: 0.5,
                            strokeWeight: 0.2,
                            strokeColor: 'black',
                            strokeOpacity: 1,
                            fillColor: colours.house,
                            fillOpacity: 0.5
                        }
                    });

                    propertiesMarkers.push(marker);

                });
        }

        function clearMarkerList(list) {
            for (var i = 0; i < list.length; i++) {
                list[i].setMap(null);
            }

            list.length = 0;
        }
    </script>
}
