// to be removed after demo
.side-nav {
    position: absolute;
    top: 20px;
    left: -200px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    background: #0085CA;
    border: 1px solid #0B6B9C;
    right: auto;
    width: 200px;
    z-index: 20;
}

.side-nav_draft2 {
     top: 60px;
}
.side-nav_draft3 {
     top: 100px;
}

.demo-setting {
    position: absolute;
    right: -29px;
    top: -1px;
    display: block;
    height: 36px;
    width: 30px;
    border-radius: 0 5px 5px 0;
    background: #077CB9;
    padding: 5px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.71);
    font-size: 21px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.menu-header {
    font-size: 14px;
    width: 100%;
    float: right;
    padding: 5px 10px;
    font-weight: bold;
    background: #257256;
    color: #fff;
}

.side-nav ul li a {
    font-size: 14px;
    width: 100%;
    float: right;
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: capitalize;
    border-bottom: 1px solid #0A76AF;
    border-top: 1px solid #2C91C5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.side-nav ul li a:hover {
    background: #0F74A9;
    text-decoration: none;
}

.side-nav.active {
    left: 0;
    z-index: 30;
}
