form {
    margin-bottom: 0;
}

.form-aside {
    padding: 20px;
}

.form-search-lg {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    margin-top: 20px;
    .form-group {
        margin-bottom: 0;
    }
    .form-control {
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        &:focus {
            border-color: #2496d1;
        }
    }
}

.search-form--small {
    padding: 15px;
    margin-bottom: 25px;
    background: #fff;
    text-align: center;
    border-bottom: 4px solid #1ea973;
}

.search-form__label {
    margin: 0 12px;
    font-weight: 700;
    text-transform: uppercase;
}

$input-height:40px;
.form-control {
    height: $input-height;
    border: 2px solid transparent;
    background: #f3f3f3;
    box-shadow: 0 0 0;
    border-radius: 0;
    &:focus {
        border: 2px solid green;
        box-shadow: 0 0 0;
    }
}

.form-search-lg__btn {
    border: 0!important;
    background: none !important;
    border-radius: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    height: $input-height;
    font-size: 20px;
    color: #000;
    outline: 0;
    &:hover {
        background: none !important;
        color: #000;
    }
}

.form-footer {
    padding-top: 16px;
    margin-top: 10px;
    border-top: 1px solid #d2d6d5;
}
