.page-header {
    position: relative;
    max-height: 300px;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
}

.page-header--sections {
    max-height: 1000px;
    overflow: initial;
    text-align: left;
    padding: 50px 0;
    margin-bottom: 50px;
    border-bottom: 5px solid #d8e3e0;
    background: url(../images/inner-bg.jpg);
    background-size: 100% auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
}

.page-header__description {
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding: 5px;
    background: rgba(255, 255, 255, .64);
    text-align: center;
    @include mobile {
        top: 0;
    }
}

.page-header--inner {
    text-align: left;
}

.page-header--inner__description {
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    @include mobile {
        top: 0
    }
    h2 {
        font-size: 50px;
        font-weight: 300;
        line-height: 1.2;
        color: #fff;
        @include mobile {
            font-size: 22px;
        }
    }
    p {
        margin: 0;
        padding: 0;
        margin-top: 18px;
        color: #67cbac;
        font-size: 14px;
        font-weight: 900;
        line-height: 1;
        letter-spacing: 3px;
        @include mobile {
            margin-top: 5px;
        }
    }
}
