.parallax {
    padding: 147px 50px;
    background-size: cover;
    position: relative;
    text-align: center;
    border-top: 5px solid #fff;
    border-bottom: 1px solid #ccc;
    h2 {
        font-size: 50px;
        line-height: 1.2;
        color: #55565a;
        margin: 0 0 18px;
        font-family: Poppins, Helvetica, Arial, sans-serif;
        font-weight: 300;
    }
    h4 {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 900;
        font-family: Lato, sans-serif;
        color: #67cbac;
        margin: 0 0 47px;
        letter-spacing: 3px;
    }
}

.parallax--sign {
    background: url(../images/register-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
