.slider {
    position: relative;
    overflow: hidden;
    @include mobile {
        height: 101px;
    }
    @include tablet {
        height: 300px;
    }
}

.slider__content {
    position: absolute;
    top: 25%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    @include mobile {
        top: 0;
    }
    @include pcsamll {
        top: 10%;
    }
}

.fadeImg {
    height: 600px;
    @include pcsamll {
        height: 460px;
    }
    @include tablet {
        height: 300px;
    }
}

.slider--inner-page {
    height: 240px;
    @include mobile {
        height: 160px;
        img {
            display: none;
        }
        p.text-white {
            color: #000 !important;
            a {
                color: #000 !important;
            }
        }
        background:#fff;
    }
}

.slider__text {
    color: #53565a;
}
