.steps {
    margin: 20px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        content: "";
        left: 100px;
        top: 43px;
        right: 100px;
        height: 6px;
        background: #ccc;
        z-index: -1;
        @include mobile {
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        left: 100px;
        width: 0;
        top: 43px;
        height: 6px;
        background: green;
        z-index: -1;
        @include mobile {
            display: none;
        }
    }
}

.complete-20 {
    &:after {
        width: 20%;
    }
}

.complete-40 {
    &:after {
        width: 40%;
    }
}

.complete-60 {
    &:after {
        width: 60%;
    }
}

.complete-80 {
    &:after {
        width: 80%;
    }
}

.step {
    width: 20%;
    display: inline-block;
    float: left;
}

.step__number {
    font-weight: bold;
    font-size: 17px;
}

$bullet-size:30px;
.step__bullet {
    width: $bullet-size;
    height: $bullet-size;
    margin: 5px auto;
    background: #ccc;
    border-radius: 50%;
}

.step__name {
    text-transform: capitalize;
    @include mobile {
        display: none;
    }
}

.done {
    .step__bullet {
        border: 6px solid green;
    }
}

.current {
    .step__bullet {
        border: 6px solid green;
    }
}
