.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 18px 8px;
    font-size: 14px;
}
.table.table--sm > thead > tr > th,
.table.table--sm > thead > tr > td,
.table.table--sm > tbody > tr > th,
.table.table--sm > tbody > tr > td,
.table.table--sm > tfoot > tr > th,
.table.table--sm > tfoot > tr > td {
    padding: 3px 16px;
    font-size: 14px;
    vertical-align: middle;
}
.hidden-row {
    padding: 0 !important;
    border: 0 !important;
    border-bottom: 0 !important;
    > td {
        padding: 0 !important;
    }
}

.table-invoice {
    > thead > tr > th {
        border-bottom-width: 2px;
        text-transform: uppercase;
        color: #fff;
        background: #97999b;
        border: 0;
    }
    &.text-center > thead > tr > th {
        text-align: center;
    }
    tbody > tr {
        border-bottom: 3px solid #F4F9FD;
        > td {
            vertical-align: middle;
            border: 0;
            background: #fff;
            span {
                font-weight: bold;
            }
        }
    }
    form {
        margin: 0;
    }
}

.table-invoice__footer,
.table-invoice__header {
    > td {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        border: 0;
        border-bottom-width: 2px;
        background: #97999b !important;
        font-weight: bold;
    }
}

.table-invoice__footer {
    > td {
        text-align: right;
    }
}

.table-invoice__inner {
    text-align: center;
    tbody > tr {
        border-bottom: 3px solid #fff;
        > td {
            vertical-align: middle;
            border: 0;
            background: #F5F5F5;
            span {
                font-weight: bold;
            }
        }
    }
    form {
        margin: 0;
    }
}
td.selected {
   background: #337ab7;
   color:#fff;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .table-invoice tbody > tr > td:first-child {
        text-align: left !important;
    }
    .table-invoice > thead > tr > th {
        
    }
}
