.nav-tabs {
    border: 0;
    text-align: center;
    li {
        float: none;
        display: inline-block;
        a {
            line-height: 47px;
            padding: 0 25px;
            font-size: 12px;
            color: #838383;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: #fff;
            border-radius: 0;
            @include mobile {
            	padding:0 10px;
            	margin-bottom: 8px;
            }
        }
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #b188c5;
    border: 1px solid #b188c5;
    border-bottom-color: transparent;
    cursor: default;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: #c79cdc;
    color: #fff;
    border: 1px solid #c79cdc;
}
