/* The switch - the box around the toggle-slider */
$switch-width:58px;
$switch-height:23px;
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The toggle-slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  width: calc(#{$switch-width}/2 - 10px);
  height: calc(#{$switch-height} - 4px);
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
  transform: translateX(33px);
}

/* Rounded toggle-sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}