.fuelux .wizard .step-content {
  background: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    .fuelux .wizard>.actions {
    	left:0;
    	top:140px;
    	overflow: hidden;
    	padding:10px 15px;

    	.btn:last-child {
    		float:right;
    	}
    }
    .fuelux .wizard .step-content {
    	padding-top: 50px;
    }
    .fuelux .wizard>ul.steps li, .fuelux .wizard>.steps-container>ul.steps li {
    	width:100%;
    	padding-left: 20px;
    	display:block;
    	float:none;
    	border-bottom: 1px solid #ccc;
    }
}
